body{
    margin:0;
    background-color: skyblue;
}
#top_navig_bar {
    background-color: cornflowerblue;
    overflow:hidden;
}
.sticky{
    position: fixed;
    top:0;
    width:100%;
}
#pers_greet{
    float: right;
    color:black;
    padding:10px;
}
#top_navig_bar a{
    text-decoration: none;
    display: block;
    padding:10px;
}
a.header{
    float: left;
    color:black
}

a.header:hover{
    background-color: black;
    display: block;
    float: left;
    color:white;
    padding:10px;
}

.short_description{
    display: block;
}
.contact{
    font-size: medium;
}
footer{
    margin-top: 50px;
}
.blog_post{
    border-width: 2px;
    width: 40%;
    margin: 8px;
}
.image{
    width: 30%;
}
.post_image{
    width:20%;
}

#content{
    padding: 15px;
    margin-top: 30px;
}
.post_content{
    text-align: center;
}
.blog_post, #in_post,.comment, .detailed_description{
    background-color: snow;
    /* border-radius: 5px; */
    border-color: rgb(26, 74, 112);
    border: 3px;
    border-style: solid;
}
.detailed_description{
    display: block;
    padding: 5px 15px;
    text-align: left;
}
#in_post{
    margin-top: 1px; 
}
#homepage{
    font-size: larger;
    margin-bottom: 3px;
    margin-top: 0;
}
.comment_box{
    width:100%;
    height:60px;
}
.comment{
    margin-bottom: 3px;

}
.author{
    margin:0;
    text-align: right;
}
.comment_text{
    margin: 1px;
}
.avr_rate{
    margin-bottom: 0;
    text-align: right;
    display: block;
}
.rating_box{
    position: absolute;
    transform: rotateY(180deg);
    display: flex;
}
.sub_com{
    float:right;
}
input.post_rating {
    display: none;
}
label.post_rating {
    display: inline-block;
    cursor: pointer;
    background-color:  skyblue;
    width: 20px;

}
label.post_rating::before{
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 20px;
    color: black;
}
label.post_rating::after{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 20px;
    color: yellow;
    top: 0;
    opacity: 0;
    transition: 0.5s;
}
label.post_rating:hover::after, 
label.post_rating:hover ~ label.post_rating::after,
input.post_rating:checked ~ label.post_rating::after{
    opacity: 1;
}

.first_name{
    display: block;
}