<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="{{ url_for('static',filename='style.css') }}">
    <script src="https://kit.fontawesome.com/65c6223f43.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav id="top_navig_bar">
        <a href="{{ url_for('home') }}" id="home" class="header">Home</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}" id="logout" class="header">Logout</a>
        {% else %}
            <a href="{{ url_for('register') }}" id="register" class="header">Register</a>
            <a href="{{ url_for('login') }}" id="login" class="header">Login</a>
        {% endif %}
        <div id="pers_greet">
            {% if current_user.is_authenticated %}
            Hello, {{ current_user.first_name }}
            {% else %}
            Hello, Guest!
            {% endif %}
        </div>
      
    

    </nav>
    <div id='content'>
        {% block content %}
        {% endblock %}
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

</body>
<footer>
    <h1 class="contact">Contact details:</h1>
    <ul>
        <li>Phone number: +0440 1234567890</li>
        <li>Email: Choit4@cardif.ac.uk</li>
        <li>LinkedIn: choit4</li>
    </ul>
    <h1  class="contact">Privacy policy:</h1>
    <p> This is placeholder for privacy policy.</p>
    <h1 class="contact">Disclaimer:</h1>
    <p> This is placeholder for disclaimer.</p>

</footer>
<script>
    let nav_bar = document.getElementById("top_navig_bar");
    let nav_top = nav_bar.offsetTop;
    window.onscroll = function() {
        if (window.pageYOffset >= nav_top){
            nav_bar.classList.add("stick")
        } 
        else{
            nav_bar.classList.remove("sticky");
        }
    }
</script>
</html>